@font-face {
    font-family: 'iconfont';  /* Project id 2807670 */
    src: url('https://at.alicdn.com/t/font_2807670_2sqvyr9619r.woff2?t=1631467995168') format('woff2'),
         url('https://at.alicdn.com/t/font_2807670_2sqvyr9619r.woff?t=1631467995168') format('woff'),
         url('https://at.alicdn.com/t/font_2807670_2sqvyr9619r.ttf?t=1631467995168') format('truetype');
}

.icon {
    font-family: iconfont;
}

.input-icon {
    font-size: 16px;
}

.dm-dropdown-wrap {
    margin: 5px 0;
    font-size: 14px;
    background: #fff;
    border: 1px solid #e4e7ed;
    border-radius: 4px;
    box-shadow: 0 2px 12px 0 rgb(0 0 0 / 10%);
    position: absolute;
    top: 100%;
    left: 0;
    width: 100vw;
    z-index: 999;
}

.dm-dropdown-wrap .dm-cascade-menu {
    width: 180px;
    height: 300px;
    overflow-y: scroll;
    box-sizing: border-box;
    color: #606266;
    display: inline-block;
    vertical-align: top;
    border-right: 1px solid #e4e7ed;
}

.dm-dropdown-wrap .dm-cascade-menu::-webkit-scrollbar {
    width: 6px;
}

.dm-dropdown-wrap .dm-cascade-menu::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(144,147,153,.5);
}

.dm-dropdown-wrap .dm-cascade-menu::-webkit-scrollbar-track {
    border-radius: 10px;
}

.dm-dropdown-wrap .dm-cascade-menu:last-child {
    border-right: none;
}

.dm-dropdown-wrap .dm-cascade-menu .search-input {
    background: #fff;
    border-radius: 4px;
    border: 1px solid #dcdfe6;
    box-sizing: border-box;
    color: #606266;
    line-height: 24px;
    height: 24px;
    outline: none;
    padding: 0 15px;
    margin: 10px auto;
    width: 90%;
    text-overflow: ellipsis;
    cursor: pointer;
    display: block;
    font-size: 13px;
}

.dm-dropdown-wrap .dm-cascade-menu .search-input:focus {
    border-color: #409eff;
}

.dm-dropdown-wrap .dm-cascade-menu ul {
    padding: 0;
    margin: 0;
}

.dm-dropdown-wrap .dm-cascade-menu ul li {
    list-style: none;
    outline: none;
    cursor: pointer;
    line-height: 34px;
    padding: 0 20px;
    font-size: 14px;
    position: relative;
}

.dm-dropdown-wrap .dm-cascade-menu ul li.has-children::after {
    content: '>';
    position: absolute;
    right: 10px;
    top: -2px;
    transform: scaleY(1.8);
    font-size: 12px;
    color: #606266;
}

.dm-dropdown-wrap .dm-cascade-menu ul li.active.has-children::after {
    color: #409eff;
}

.dm-dropdown-wrap .dm-cascade-menu ul li.active {
    color: #409eff;
    font-weight: 500;
}

.dm-dropdown-wrap .dm-cascade-menu ul li:hover {
    background: #f5f7fa;
}

.dm-dropdown-wrap .dm-cascade-menu ul li span {
    overflow-x: hidden;
    text-overflow: ellipsis;
}

.dm-input-wrap {
    width: 100%;
    height: 100%;
    font-size: 14px;
    position: relative;
}

.dm-input-wrap .dm-input {
    background: #fff;
    border-radius: 4px;
    border: 1px solid #dcdfe6;
    box-sizing: border-box;
    color: #606266;
    outline: none;
    padding: 0 15px;
    width: 100%;
    height: 100%;
    line-height: 100%;
    text-overflow: ellipsis;
    cursor: pointer;
}

.dm-input-wrap::after {
    content: '>';
    color: #ccc;
    transform: rotate(90deg) scaleY(1.8);
    transform: rotate(90deg) scaleY(1.8);
    -ms-transform: rotate(90deg) scaleY(1.8);
    -moz-transform: rotate(90deg) scaleY(1.8); 
    -webkit-transform: rotate(90deg) scaleY(1.8); 
    -o-transform: rotate(90deg) scaleY(1.8); 
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -10px;
}

.dm-input-wrap.active .dm-input {
    border-color: #409eff;
}